name: delete-old-package

# When this action will be executed
on:
  # Allow manual trigger
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  actions: write
  deployments: write
  pages: write
  pull-requests: write
  packages: write

jobs:
  delete-old-package-versions:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/delete-package-versions@v5
        with:
          # Token with read/delete package scopes; configure as a repo secret.
          token: ${{ secrets.DELETE_PACKAGE_TOKEN }}
          # Name of the package.
          # Required
          package-name: ev-rental-be

          # Type of the package. Can be one of docker (v4 or older), container (v5 or newer), maven, npm, nuget, or rubygems.
          # Required
          package-type: container

          # The number of latest versions to keep.
          # This cannot be specified with `num-old-versions-to-delete`. By default, `min-versions-to-keep` takes precedence over `num-old-versions-to-delete`.
          # When set to 0, all deletable versions will be deleted.
          # When set greater than 0, all deletable package versions except the specified number will be deleted.
          min-versions-to-keep: 1
          # min-versions-to-keep: 0
