name: Trigger auto deployment for swd-production-webapi-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/swd-production-webapi-app-AutoDeployTrigger-aa72b67f-9daf-47be-998c-152e3631e9a3.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.SWDPRODUCTIONWEBAPIAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.SWDPRODUCTIONWEBAPIAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SWDPRODUCTIONWEBAPIAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ghcr.io
          registryUsername: ${{ secrets.SWDPRODUCTIONWEBAPIAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.SWDPRODUCTIONWEBAPIAPP_REGISTRY_PASSWORD }}
          containerAppName: swd-production-webapi-app
          resourceGroup: swd-project-resource-group
          imageToBuild: ghcr.io/swd-production-webapi-app:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


