name: Trigger auto deployment for swd-be-webapi-production

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: [main]
    paths:
      - "**"
      - ".github/workflows/swd-be-webapi-production-AutoDeployTrigger-afa2844f-c8b3-457b-a1bf-796020c8976d.yml"

  # Allow manual trigger
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  actions: write
  deployments: write
  pages: write
  pull-requests: write
  packages: write

jobs:
  build-and-deploy:
    env:
      HUSKY: 0
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v5

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"

      - run: cd WebAPI
      - run: ls -al
      - run: dotnet restore ./WebAPI/WebAPI.csproj

      - id: main
        run: dotnet build ./WebAPI/WebAPI.csproj -c Release -o ./build

      - if: ${{ steps.main.outcome == 'failure' }}
        run: exit 1

      - id: publish
        run: dotnet publish ./WebAPI/WebAPI.csproj -c Release -o ./publish /p:UseAppHost=false

      # Make a lowercase owner for GHCR image path (Docker requires lowercase repo names)
      - name: Compute lowercased owner
        id: vars
        run: echo "OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.SWDBEWEBAPIPRODUCTION_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.SWDBEWEBAPIPRODUCTION_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SWDBEWEBAPIPRODUCTION_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ghcr.io
          registryUsername: ${{ secrets.SWDBEWEBAPIPRODUCTION_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.SWDBEWEBAPIPRODUCTION_REGISTRY_PASSWORD }}
          containerAppName: swd-be-webapi-production
          resourceGroup: swd-project-resource-group
          imageToBuild: ghcr.io/${{ env.OWNER_LC }}/ev-rental-be:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_
